@import "./reset01.less";
// 按钮
.btn {
  background-color: @btn-default;
  color: @fc5;
  height: 0.26rem;
  padding: 0 .06rem;
  border: none;
  border-radius: @borradius1;
  box-shadow: 0 .01rem .02rem rgba(0, 0, 0, 0.2);
  font-size: 0.14rem;
  &:hover {
    color: @fc5;
    background-color: lighten(@btn-default, 5%);
  }
  &:active {
    background-color: darken(@btn-default, 5%);
  }
}

button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background-color: @btn-disabled;
  color: greyscale(@bgc-gray);
}

//按钮反转
.btn-reverse {
  background-color: @btn-reverse;
  color: @basec1;
  height: .26rem;
  padding: 0 .06rem;
  border: .01rem solid @borcbase;
  border-radius: @borradius1;
  box-shadow: 0 .01rem .02rem rgba(0, 0, 0, 0.2);
  font-size: 0.14rem;
  &:hover {
    //color: @fc5;
    background-color: lighten(@bgc-gray, 5%);
  }
  &:active {
    background-color: @bgc-gray;
  }
}

//弹出框
.popup {
  width: 3rem;
  border-radius: @borradius2;
  box-shadow: 0 0 .05rem rgba(0, 0, 0, 0.2);
  border: .01rem solid @borc-popup;
  div:nth-of-type(1) {
    height: .4rem;
    background-color: @bgc-popup-head;
    border-radius: @borradius2 @borradius2 0 0;
    display: flex;
    align-items: center;
    i {
      margin-left: .2rem;
      margin-right: .1rem;
      font-size: 0.3rem;
      color: red;
      line-height: .4rem;
    }
    span {
      line-height: .4rem;
      font-size: .16rem;
      font-weight: bold;
    }
  }
  div:nth-of-type(2) {
    background-color: @bgc-popup;
    border-top: .01rem solid @borc-popupsplit;
    border-bottom: .01rem solid @borc-popupsplit;
    padding: .2rem;
    text-align: center;
  }
  div:nth-of-type(3) {
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bgc-popup;
    border-radius: 0 0 @borradius2 @borradius2;
    button {
      margin: 0 .1rem;
    }
  }
}

//聊天气泡
.bubble {
  max-width: 2.3rem;
  border: .01rem solid @borcbase;
  padding: .1rem;
  background-color: @bgc-fill;
  border-radius: @borradius2;
  position: relative;
  z-index: @z-index2;
  text-align: justify;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  P {
    color: @fc1;
  }
  &:before {
    content: '';
    display: block;
    width: .08rem;
    height: .08rem;
    background-color: @bgc-fill;
    position: absolute;
    top: -0.049rem;
    left: .2rem;
    border-left: .01rem solid @borcbase;
    border-top: .01rem solid @borcbase;
    transform: rotate(45deg);
  }
}

// 表格
      #table-container{width:650px;height:250px;overflow: auto;margin: 50px;border: 1px solid #DDD;}
      #table-container table{width: 100%;border-width: 0;border-collapse: collapse;}
      #table-container table td{padding: 0;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD;background: #FFF;}
      #table-container .table-top td, #table-container .table-lt td, #table-container .table-left td{background: green;}
  
      #table-container .table-top td:last-child{border-right: 0px solid #DDD;}
      #table-container .table-right td:last-child{border-right: 0px solid #DDD;}
      #table-container .table-right tr:last-child td{border-bottom: 0px solid #DDD;}
      #table-container .table-left tr:last-child td{border-bottom: 0px solid #DDD;}
    
      #table-container td div{display: inline-block;max-width: 200px;margin:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align: left;line-height: 24px;}
        
      #table-container .table-lt{position: fixed;z-index:3;}
      #table-container .table-top{position: fixed;overflow:hidden;z-index:2;}
      #table-container .table-left{position: fixed;overflow:hidden;z-index:2;}
      #table-container .table-right{position: relative;z-index:1;}
      #table-container .table-mask{position: relative;}