@import "./reset01.less";
// 按钮
.btn {
  background-color: @btn-default;
  color: @fc5;
  height: 0.26rem;
  padding: 0 .06rem;
  border: none;
  border-radius: @borradius1;
  box-shadow: 0 .01rem .02rem rgba(0, 0, 0, 0.2);
  font-size: 0.14rem;
  &:hover {
    color: @fc5;
    background-color: lighten(@btn-default, 5%);
  }
  &:active {
    background-color: darken(@btn-default, 5%);
  }
}

button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background-color: @btn-disabled;
  color: greyscale(@bgc-gray);
}

//按钮反转
.btn-reverse {
  background-color: @btn-reverse;
  color: @basec1;
  height: .26rem;
  padding: 0 .06rem;
  border: .01rem solid @borcbase;
  border-radius: @borradius1;
  box-shadow: 0 .01rem .02rem rgba(0, 0, 0, 0.2);
  font-size: 0.14rem;
  &:hover {
    //color: @fc5;
    background-color: lighten(@bgc-gray, 5%);
  }
  &:active {
    background-color: @bgc-gray;
  }
}

//弹出框
.popup {
  width: 3rem;
  border-radius: @borradius2;
  box-shadow: 0 0 .05rem rgba(0, 0, 0, 0.2);
  border: .01rem solid @borc-popup;
  div:nth-of-type(1) {
    height: .4rem;
    background-color: @bgc-popup-head;
    border-radius: @borradius2 @borradius2 0 0;
    display: flex;
    align-items: center;
    i {
      margin-left: .2rem;
      margin-right: .1rem;
      font-size: 0.3rem;
      color: red;
      line-height: .4rem;
    }
    span {
      line-height: .4rem;
      font-size: .16rem;
      font-weight: bold;
    }
  }
  div:nth-of-type(2) {
    background-color: @bgc-popup;
    border-top: .01rem solid @borc-popupsplit;
    border-bottom: .01rem solid @borc-popupsplit;
    padding: .2rem;
    text-align: center;
  }
  div:nth-of-type(3) {
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bgc-popup;
    border-radius: 0 0 @borradius2 @borradius2;
    button {
      margin: 0 .1rem;
    }
  }
}

//聊天气泡
.bubble {
  max-width: 2.3rem;
  border: .01rem solid @borcbase;
  padding: .1rem;
  background-color: @bgc-fill;
  border-radius: @borradius2;
  position: relative;
  z-index: @z-index2;
  text-align: justify;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  P {
    color: @fc1;
  }
  &:before {
    content: '';
    display: block;
    width: .08rem;
    height: .08rem;
    background-color: @bgc-fill;
    position: absolute;
    top: -0.049rem;
    left: .2rem;
    border-left: .01rem solid @borcbase;
    border-top: .01rem solid @borcbase;
    transform: rotate(45deg);
  }
}

// 表格
.table {
  width: 500px;
  height: 350px;
  background-color: #eee;
  .left {
    width: 200px;
    height: 100%;
    background-color: rosybrown;
  }
  .right {
    width: 300px;
    height: 100%;
    background-color: lightgrey;
    overflow: auto;
  }
  .left, .right {
    float: left;
  }

  .right table{
    background-color: slategray;
  }

}
